<h1>Chef <%= @chef.name %></h1>
<hr>
<div id="dishes">
  <b>Chef <%= @chef.name %>'s Dishes:</b><br>
  <% @chef.dishes.each do |dish| %>
  - <%= dish.name %><br>
  <% end %>
</div>

<div id="add-dish">
  <%= form_with model: @chef, local: true do |form| %>
  <%= form.label :dish_id %>
  <%= form.text_field :dish_id %>
  <%= form.submit "Add Dish" %>
  <% end %>
</div>